<h1>Home Games</h1>

<table>
  <thead>
  <tr>
    <td>
      Home
    </td>
    <td>
      Away
    </td>
  </tr>
  </thead>
  <% @games.each do |game| %>

      <% if game.home_team_id == @team.id || game.away_team_id == @team.id %>

          <tr>
            <td>
              <%= game.home_team.name %>
            </td>
            <td>
              <%= game.away_team.name %>
            </td>
          </tr>

      <% end %>

  <% end %>

</table>



<h1><%= @team.name %>'s Team</h1>

<table>
  <% @team.players.each do |player| %>

      <tr>
        <td>
          <%= player.name %>
        </td>
      </tr>

  <% end %>

</table>
